.gallery {
  text-align: center;
  margin: 10rem 0;
}

.gallery__photos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery__photos .row {
  display: flex;
}

.row + .row {
  margin-top: 2rem;
}

.gallery__photos .row .gallery__photo {
  flex: 1;
}

.gallery__photos .row .gallery__photo--expanded {
  flex: 2;
}

.gallery__photo + .gallery__photo {
  margin-left: 2rem;
}

.gallery__photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  .gallery__photos .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery__photos .row .gallery__photo {
    width: 100%;
    flex: 0 0 500px;
  }

  .gallery__photo + .gallery__photo {
    margin-left: 0;
    margin-top: 2rem;
  }
}
