.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)),
    url("../img/main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  color: rgb(230, 225, 225);
  opacity: 0;
  animation: fadein 0.6s ease-in 0.4s forwards;
}

.header__navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header__navigation-item + .header__navigation-item {
  margin-left: 2rem;
}

.header__navigation-link {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
}

.header__navigation-link:hover,
.logo:hover {
  color: white;
}

@media (max-width: 750px) {
  .header__navigation {
    flex-direction: column;
  }
  .header__navigation-list {
    margin-top: 1.5rem;
  }
}
