.testimonials {
  padding: 10rem 0;
  text-align: center;
}

.testimonial {
  padding: 1em 2em;
  margin: 0 auto;
  text-align: center;
  color: #555;
  max-width: 800px;
}

.testimonial__content {
  margin-bottom: 1rem;
}

.testimonial__author {
  font-size: 1.2rem;
}
